@model SANSurveyWebAPI.ViewModels.Web.KidsLocationVM
@{
    if (!Request.IsAjaxRequest())
    { Layout = "~/Views/Shared/_LayoutKids.cshtml";  }
    ViewBag.Title = "Kids Survey: Location";
}
<link href="~/Content/iCheck/skins/flat/green.css" rel="stylesheet" />
<script src="~/Scripts/iCheck/icheck.min.js"></script>
@using (Html.BeginForm("Location", "Kids", FormMethod.Post,
                new { name = "frmLocation", id = "frmLocation", @class = "nav-right" }))
{ 
    @Html.HiddenFor(model => model.ProfileId)
    @Html.HiddenFor(model => model.MaxStepKidsSurvey)
    @*@Html.Partial("_Wizard", new SANSurveyWebAPI.ViewModels.Web.WizardViewModel()
    { CurrStep = 1, MaxStep = Model.MaxStepKidsSurvey })*@
    
    <div class="panel panel-default">
        <div class="panel-heading" style="background-color:teal;color:white;">
            <h3>
                @Model.PageQuestion                                               
            </h3>
        </div>
        <div class="panel-body">
            <div style="text-align:left"><i>@Model.QuestionHint</i></div> <br /><br />
            <div class="col-md-12 col-sm-12 col-xs-12 padding-0 ">
                <div class="col-md-12 col-sm-12 col-xs-12" id="divLocation">                    
                    @foreach (var yt in Model.LocationOptionList)
                    {
                        <input type="checkbox"
                               name="chkYesNo" value="@yt.Value" id="@yt.Value" class="uncheck"/>
                                        <label class="chkLabel" for="@yt.Value">@yt.Value<span class="spanCls">&nbsp;&nbsp;</span></label><br />
                    }
                    @Html.HiddenFor(model => model.selectedLocation, new { @id = "hiddselectedLocation" })
                </div>
                <div id="divOtherLocation" class="Cont" style="width:300px;">
                    @Html.TextBoxFor(model => model.OtherLocation, new { @id = "txtOtherLocation", @class = "form-control",
                                                                            @placeholder = "Please specify if selected Other",
                                                                            @style = "width:300px;display:none;" })
                </div>
        </div>
        <center>
            <div>
                <small id="SelectedTasks_Incomplete" class="invalid" style="text-align:left">
                    <i class="fa fa-exclamation-circle" aria-hidden="true"></i>  
                    &nbsp; @Model.ErrorMessage              
                </small>
            </div>
            <div style="padding:10px">
                <button class="btn btn-success btn-lg" id="btnNext" type="submit" style="background-color:teal;color:white;border-color:teal">Next&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i></button>
            </div>
        </center>
    </div>  </div>  
    @Html.Partial("_FooterSurvey")
}
<script src="~/Scripts/StopBack/StopBackBrowserButton.js"></script>
<script>
    //to toggle the other textbox
    $(document).ready(function () {
        $('#Other').click(function () {
            var name = $(this).attr('id');
           $('.Cont').find('[name="OtherLocation"]').toggle();
            
        });
    });

    //Important to add values of checkboxes
    function updateTextArea() {
        var allLocation = [];
        //alert($('#hiddselectedLocation').val());
        $('#divLocation :checked').each(function () {
            allLocation.pop();
            allLocation.push($(this).val());
        });
        $('#hiddselectedLocation').val(allLocation);
        //alert($('#hiddselectedLocation').val());
        //alert($('#hiddselectedLocation').val());
    }
    $(function () {
        $('#divLocation input').click(updateTextArea);
        updateTextArea();
    });
    //end of checkbox values

    $('input.uncheck').on('change', function () {
        $('input.uncheck').not(this).prop('checked', false);
        updateTextArea();
    });
    

    function CustomValidation() {
        var allFilled = true;
        //alert($(':checkbox[name=chkYesNo]:checked').length);
        if ($(':checkbox[name=chkYesNo]:checked').length >= 1) {
            //alert($(':checkbox[name=chkYesNo]:checked').val());
            if ($(':checkbox[name=chkYesNo]:checked').val() == "Other" && $('#txtOtherLocation').val() == "") {
                $('#SelectedTasks_Incomplete').show(); allFilled = false;
            }
            else { $('#SelectedTasks_Incomplete').hide(); }            
        }
        else { $('#SelectedTasks_Incomplete').show(); allFilled = false; }
        return allFilled;
    }
    $('#btnNext').on("click", function (e) {
        e.preventDefault();
        if (CustomValidation()) {
            $('#frmLocation').submit();
        }
    });
</script>
<style>
    input[type=checkbox] {
        /* Double-sized Checkboxes */
        -ms-transform: scale(1.5); /* IE */
        -moz-transform: scale(1.5); /* FF */
        -webkit-transform: scale(1.5); /* Safari and Chrome */
        -o-transform: scale(1.5); /* Opera */
        padding: 15px;
    }
    .spanCls {
    margin:10px;
    }
</style>