@model SANSurveyWebAPI.ViewModels.Web.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
}


@*using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))*@
@using (Ajax.BeginForm("ChangePassword", "Manage",
                               new AjaxOptions
                               {
                                   HttpMethod = "POST",
                                   Url = @Url.Action("ChangePassword", "Manage"),
                                   OnSuccess = "OnSuccess",
                                   OnFailure = "OnFailure"
                               }, new { id = "frmChangePassword", @class = "form-horizontal", role = "form" }
                                  )
                                    )
{

    <div class="container OtherPageContainer">
        <h2>@ViewBag.Title</h2>


        @Html.AntiForgeryToken()
        @*<h4>Change Password Form</h4>*@
        <hr />
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(m => m.OldPassword, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" name='action' value="Save" class="btn btn-success" />
                <input type="submit" name='action' value="Cancel" id="btnCancel" class="btn btn-default" />
            </div>
        </div>

    </div>

}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script>

    function OnSuccess(response) {
        $('#MainContent').html(response);
    }
    function OnFailure(response) {
        alert("Oops! submission failed. Please ensure you are connected to the network.");
    }
    $(document).ready(function () {
        //$('#btnCancel').on("click", function (e) {

        //});
    });
</script>
