@model SANSurveyWebAPI.ViewModels.Web.ResumeSurveyMV

@{

    if (!Request.IsAjaxRequest())
    {
        Layout = "~/Views/Shared/_LayoutSurvey.cshtml";
    }

    ViewBag.Title = "Survey";
}

@using (Html.BeginForm("ResumeSurvey", "MyDay", new { id = "frmResumeSurvey",
    @class = "" }))

{
    @Html.HiddenFor(model => model.Uid, new { @id = "txtuid" })
    @Html.HiddenFor(model => model.SurveyProgressNext)



    <div style="padding:20px;">
        <div class="panel panel-default">
            <div class="panel-body" style="background-color:#b2d8d8">

                <center>
                    <div>
                        <h1>
                            <i class="fa fa-commenting-o fa-2x" aria-hidden="true"></i>
                        </h1>

                        <h1>
                            Welcome back!
                        </h1>

                        <h4>
                            @Model.SurveySpan
                            <br />
                            survey is not complete yet.

                        </h4>
                        <br />
                        <br />

                        <h3>
                            Do you wish to complete now?
                        </h3>
                    </div>

                    <br />

                    <button name="button" value="Continue" class="btn btn-success btn-lg" type="submit">Yes, continue from where I left</button>
                    <br />
                    <br />

                    <button name="button" value="Restart" class="btn btn-default btn-lg" type="submit">Restart from the beginning</button>


                </center>

            </div>
        </div>
        @Html.Partial("_FooterSurvey")
    </div>

}

<script>


    function OnSuccess(response) {
       if (response == "") {
            window.location.href = "@Url.Action("ConnectionError", "MyDay")";
        }
        else {
            //$.ajaxSetup({ cache: false });
            $('#MainSurveyContent').html(response);
        }
    }
    function OnFailure(response) {
        alert("Oops! submission failed. Please ensure you are connected to the network.");
    }




    $(document).ready(function () {
        //window.history.pushState("Survey", "Survey", "/App/MyDay/SID/" +$('#txtuid').val());
    });



</script>