@model SANSurveyWebAPI.ViewModels.Web.Page6_ExitSurveyVM

@{
    Layout = "~/Views/Shared/_LayoutRegistration.cshtml";
    ViewBag.Title = "MyDay Exit Survey – Your Work Environment 3";
}

<link href="~/Content/iCheck/skins/flat/green.css" rel="stylesheet" />
<script src="~/Scripts/iCheck/icheck.min.js"></script>

@using (Html.BeginForm("Page6", "ExitSurvey", FormMethod.Post,
                            new { name = "frmExitSurveyPage6", id = "frmExitSurveyPage6" }))
{
    <div class="container OtherPageContainer">
        <div class="formBox">
            <div id="">
                <h3>@ViewBag.Title</h3>
            </div>
            @Html.Partial("_Wizard", new SANSurveyWebAPI.ViewModels.Web.WizardViewModel()
        {
            CurrStep = 7,
            MaxStep = Model.MaxStepExitSurvey
        })          
            @Html.HiddenFor(model => model.ProfileId)
            @Html.HiddenFor(model => model.MaxStepExitSurvey)           

            @*@Html.ValidationSummary(true, "Please correct the information", new { @class = "text-danger" })*@


            <div class="panel panel-default" id="Placement">

                <div class="panel-heading">
                    <h3>
                        We have some further questions about your immediate senior
                    </h3>
                </div>

                <div class="panel-body">
                    <div>
                        <i>
                            The term "IMMEDIATE SENIOR" refers to e.g. senior house officer, registrar, or consultant. If you are not sure who your immediate senior is: Who did you report to on your last working shift?
                        </i>
                    </div>
                    <br />
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">
                            Please mark the appropriate answer: My immediate senior <span class="tooltipTask" title="1The term 'IMMEDIATE SENIOR' refers to e.g. senior house officer, registrar, or consultant. If you are not sure who your immediate senior is: Who did you report to on your last working shift?"><sup>[?]</sup></span> is ...
                        </label>
                        @*@Html.Label("Please mark the appropriate answer: My immediate senior is", new { @class = "col-sm-4 col-form-label" })*@
                        <div class="col-sm-8">
                            <div id="ContractTypePanel" style="width:300px">
                                @Html.RadioButtonFor(model => model.Q1, "a highly distinguished clinician", new { @id = "ContractTypeRadio", @name = "ContractType1", @style = "padding-bottom: 10px" })
                                <label for="ContractType1">a highly distinguished clinician</label>
                                <br />

                                @Html.RadioButtonFor(model => model.Q1, "a distinguished clinician", new { @id = "ContractTypeRadio", @name = "ContractType2", @style = "padding-bottom: 10px" })
                                <label for="ContractType2">a distinguished clinician</label>
                                <br />

                                @Html.RadioButtonFor(model => model.Q1, "an averagely able clinician", new { @id = "ContractTypeRadio", @name = "ContractType3", @style = "padding-bottom: 10px" })
                                <label for="ContractType3">an averagely able clinician</label>
                                <br />

                                @Html.RadioButtonFor(model => model.Q1, "not that interested in clinical work", new { @id = "ContractTypeRadio", @name = "ContractType4", @style = "padding-bottom: 10px" })
                                <label for="ContractType4">not that interested in clinical work</label>
                                <br />

                                @Html.RadioButtonFor(model => model.Q1, "not a clinician", new { @id = "ContractTypeRadio", @name = "ContractType5", @style = "padding-bottom: 10px" })
                                <label for="ContractType5">not a clinician</label>
                                <br />

                                @Html.RadioButtonFor(model => model.Q1, "Other", new { @id = "ContractTypeRadio", @name = "ContractType6", @style = "padding-bottom: 10px" })
                                <label for="ContractType6">Other</label>

                                <div id="OtherTextQ1Div">
                                    @Html.TextBoxFor(model => model.Q1Other
                                        , new
                                        {
                                            @id = "txtOtherQ1Text",
                                            @class = "form-control",
                                            @placeholder = "Please specify"
                                        })
                                    <small id="SpecialityOtherText_Incomplete" class="invalid pull-left"><i class="fa fa-info-circle" aria-hidden="true"></i>&nbsp;Incomplete</small>
                                </div>
                                <br />
                                <br />

                                @Html.RadioButtonFor(model => model.Q1, "I do not know", new { @id = "ContractTypeRadio", @name = "ContractType7", @style = "padding-bottom: 10px" })
                                <label for="ContractType7">I do not know</label>
                                <br />
                                <small id="ContractType_Incomplete" class="invalid pull-left"><i class="fa fa-info-circle" aria-hidden="true"></i>&nbsp;Incomplete</small>
                            </div>

                        </div>
                    </div>


                    <div class="form-group row">
                        @*@Html.Label("Please mark the appropriate answer: My immediate senior is ", new { @class = "col-sm-4 col-form-label" })*@

                        <label class="col-sm-4 col-form-label">
                            Please mark the appropriate answer: My immediate senior <span class="tooltipTask" title="1The term 'IMMEDIATE SENIOR' refers to e.g. senior house officer, registrar, or consultant. If you are not sure who your immediate senior is: Who did you report to on your last working shift?"><sup>[?]</sup></span> is ...
                        </label>

                        <div class="col-sm-8">
                            <div id="HoursWorkedLastMonthPanel" style="width:300px">
                                @Html.RadioButtonFor(model => model.Q2, "a highly distinguished researcher", new { @id = "HoursWorkedLastMonthRadio", @name = "HoursWorkedLastMonth1", @style = "padding-bottom: 10px" })
                                <label for="HoursWorkedLastMonth1">a highly distinguished researcher</label>
                                <br />

                                @Html.RadioButtonFor(model => model.Q2, "a distinguished researcher", new { @id = "HoursWorkedLastMonthRadio", @name = "HoursWorkedLastMonth2", @style = "padding-bottom: 10px" })
                                <label for="HoursWorkedLastMonth2">a distinguished researcher</label>
                                <br />

                                @Html.RadioButtonFor(model => model.Q2, "an averagely able researcher", new { @id = "HoursWorkedLastMonthRadio", @name = "HoursWorkedLastMonth3", @style = "padding-bottom: 10px" })
                                <label for="HoursWorkedLastMonth3">an averagely able researcher</label>
                                <br />

                                @Html.RadioButtonFor(model => model.Q2, "not that interested in research", new { @id = "HoursWorkedLastMonthRadio", @name = "HoursWorkedLastMonth4", @style = "padding-bottom: 10px" })
                                <label for="HoursWorkedLastMonth4">not that interested in research</label>
                                <br />

                                @Html.RadioButtonFor(model => model.Q2, "not a researcher", new { @id = "HoursWorkedLastMonthRadio", @name = "HoursWorkedLastMonth5", @style = "padding-bottom: 10px" })
                                <label for="HoursWorkedLastMonth5">not a researcher</label>
                                <br />

                                @Html.RadioButtonFor(model => model.Q2, "Other", new { @id = "HoursWorkedLastMonthRadio", @name = "HoursWorkedLastMonth6", @style = "padding-bottom: 10px" })
                                <label for="HoursWorkedLastMonth6">Other</label>

                                <div id="OtherTextQ2Div">
                                    @Html.TextBoxFor(model => model.Q2Other
                                        , new
                                        {
                                            @id = "txtOtherQ2Text",
                                            @class = "form-control",
                                            @placeholder = "Please specify"
                                        })
                                    <small id="SpecialityOtherText2_Incomplete" class="invalid pull-left"><i class="fa fa-info-circle" aria-hidden="true"></i>&nbsp;Incomplete</small>

                                </div>
                                <br />
                                <br />

                                @Html.RadioButtonFor(model => model.Q2, "I do not know", new { @id = "HoursWorkedLastMonthRadio", @name = "HoursWorkedLastMonth7", @style = "padding-bottom: 10px" })
                                <label for="HoursWorkedLastMonth7">I do not know</label>
                                <br />


                                <small id="HoursWorkedLastMonth_Incomplete" class="invalid pull-left"><i class="fa fa-info-circle" aria-hidden="true"></i>&nbsp;Incomplete</small>
                            </div>

                        </div>
                    </div>
                </div>
                <div style="padding:10px">
                    <button class="btn btn-success btn-lg" id="btnPrev" type="button"><i class="fa fa-angle-left" aria-hidden="true"></i>&nbsp;&nbsp;Previous</button>
                    <button class="btn btn-success btn-lg pull-right" id="btnNext" type="button">Next&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i></button>
                </div>
            </div>
        </div>
        @Html.Partial("_Footer")
    </div>
    @Html.Partial("_DialogPage3")
}

<script type="text/javascript">
    var instProceed = $("#_DialogTaskTimeProceed").remodal();
    //I. Setting global variables for Radiobuttonfor
    var option = "";
    var option_selected = null;
    //II. Assigning values to global values by change event on Radiobuttonfor
    $('#frmExitSurveyPage6 input').on('change', function () {
        var x = this.id;
        var y = this.value;
        var allfilled = true;
        option = x; option_selected = y;

    });
    //Modified the AddCustomValidation function on 3/08/2017 --by Bharati
    function AddCustomValidation() {
        var allFilled = true;
        if ($("input[type=radio]:checked").length < 2) {
            if ($("input:radio[id=ContractTypeRadio]").is(':checked')) { $('#ContractType_Incomplete').hide(); }
            else { $('#ContractType_Incomplete').show(); allFilled = false; }

            if ($("input:radio[id=HoursWorkedLastMonthRadio]").is(':checked')) { $('#HoursWorkedLastMonth_Incomplete').hide(); }
            else { $('#HoursWorkedLastMonth_Incomplete').show(); allFilled = false; }
        }
        //III. Using the global variable to check other text field
        if (option == "ContractTypeRadio") {

            if (option_selected == "Other")
                if ($('#txtOtherQ1Text').val() == "")
                { $('#SpecialityOtherText_Incomplete').show(); allFilled = false; instProceed.open(); }
                else
                { $('#SpecialityOtherText_Incomplete').hide(); }
        }
        if (option == "HoursWorkedLastMonthRadio") {

            if (option_selected == "Other")
                if ($('#txtOtherQ2Text').val() == "")
                { $('#SpecialityOtherText2_Incomplete').show(); allFilled = false; instProceed.open(); }
                else
                { $('#SpecialityOtherText2_Incomplete').hide(); }
        }
        //End step III. of using global variable        
        return allFilled;
    }

    var inst = $("#_DialogPage3").remodal();

    $(document).on('confirmation', '#_DialogPage3', function () {
        RemoveCustomValidation();
        LoaderLocal();
        $('#frmExitSurveyPage6').submit();
    });

    $(document).on('cancellation', '#_DialogPage3', function () {
        AddCustomValidation();
    });


    $(document).ready(function () {

        var q1Text = $("#txtOtherQ1Text");
        var q2Text = $("#txtOtherQ2Text");

        if (q1Text.val() != "") {
            $('#OtherTextQ1Div').show();
        }
        else
        {
            $('#OtherTextQ1Div').hide();
        }

        if (q2Text.val() != "") {
            $('#OtherTextQ2Div').show();
        }
        else {
            $('#OtherTextQ2Div').hide();
        }



        RemoveCustomValidation();

        $.ajaxSetup({ cache: false });

        $('#btnNext').on("click", function (e) {
            e.preventDefault();

            if (AddCustomValidation()) {
                LoaderLocal();

                $('#frmExitSurveyPage6').submit();
            }
            else {
                inst.open();
            }


        });

        $('#btnPrev').on("click", function (e) {
            e.preventDefault();
            window.location.href = "@Url.Action("PageContinued5", "ExitSurvey")";
        });


    })


    function RemoveCustomValidation() {

        $('[name="ContractType"]').parent().removeClass("has-error");
        $('[name="HoursWorkedLastMonth"]').parent().removeClass("has-error");

        $('#ContractType_Incomplete').hide();
        $('#HoursWorkedLastMonth_Incomplete').hide();
    }

    $('#frmExitSurveyPage6 input').on('change', function () {
        var x = this.id;

        if (x == "HoursWorkedLastMonthRadio") {
            $('#HoursWorkedLastMonth_Incomplete').hide();
        }

        if (x == "ContractTypeRadio") {
            $('#ContractType_Incomplete').hide();
        }
    });





    $('#frmExitSurveyPage6 input').on('change', function () {
        var x = this.id;
        var y = this.value;

        if (x == "ContractTypeRadio") {
            if (y == "Other") {
                $('#OtherTextQ1Div').show();
            }
            else {
                $('#OtherTextQ1Div').hide();
            }
        }

        if (x == "HoursWorkedLastMonthRadio") {
            if (y == "Other") {
                $('#OtherTextQ2Div').show();
            }
            else {
                $('#OtherTextQ2Div').hide();
            }
        }

    });


    $("input[id^='ContractType']").icheck({
        labelHover: true,
        tap: true,
        checkboxClass: 'icheckbox_flat-green',
        radioClass: 'icheckbox_flat-green'
    });

    $("input[id^='HoursWorkedLastMonth']").icheck({
        labelHover: true,
        tap: true,
        checkboxClass: 'icheckbox_flat-green',
        radioClass: 'icheckbox_flat-green'
    });



</script>

