@{
    Layout = null;
    ViewBag.Title = "Forgot Password Confirmation";

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Forgot Password Confirmation - @SANSurveyWebAPI.Constants.AppHeader</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/Login2.css" rel="stylesheet" />
</head>
<body class="loginBody">
    <div class="container TextAlignCenter">

        <div class="col-lg-4 col-md-3 col-sm-2"></div>
        <div class="col-lg-4 col-md-6 col-sm-8">
            <div class="row loginbox">

                <h1><span class="glyphicon glyphicon-send" /></h1>
                <h4>Great! We have sent the link to<br /> your email address.</h4>
            </div>

            <div class="row forGotPassword">
                <h4 style="padding:10px">Please check your email to reset the password. Thank you.</h4>
                @*If you know your password,
                    @Html.ActionLink("login here", "Login")
                    <br />
                    <br />
                    Still having trouble? @Html.ActionLink("Please contact us", "Contact", "Home")*@
            </div>

            @Html.Partial("_Footer")


            @*<footer class="footer">
                <a href='/home/termsofuse'>Terms of use</a> |
                <a href='/home/privacy'>Privacy Policy</a> | 
                <a href='/home/contact'>Contact us</a> | 
                <a href='/home/feedback'>Feedback</a>
                <p>© @DateTime.Now.Year @SANSurveyWebAPI.Constants.AppFooter </p>
            </footer>*@ 

        </div>
    </div>



    <div class="col-lg-4 col-md-3 col-sm-2"></div>





</body>
</html>
