@model SANSurveyWebAPI.ViewModels.Web.ResetPasswordViewModel
@{
    Layout = null;
    ViewBag.Title = "Reset password";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - @SANSurveyWebAPI.Constants.AppHeader</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/Login2.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.blockUI.js"></script>

</head>
<body class="loginBody">
    @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        <div class="container">
            <div class="col-lg-4 col-md-3 col-sm-2"></div>
            <div class="col-lg-4 col-md-6 col-sm-8">
                <div class="row loginbox">
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.Code)

                    <div>
                        <div style="background-color:rgb(47, 159, 173)">
                            <img class="logoImage" src="~/Images/SignupBanner.png" alt="Logo">
                        </div>
                        <div>
                            <h4>Reset your password</h4>
                        </div>
                    </div>


                    <div class="col-lg-12 col-md-12 col-sm-12">
                        @Html.Label("Email")
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Type your email address" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
           </div>

                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <br />
                    </div>


                    <div class="col-lg-12 col-md-12 col-sm-12">
                        @Html.Label("Password")
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Type new password" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <br />
                    </div>


                    <div class="col-lg-12 col-md-12 col-sm-12">
                        @Html.Label("Confirm Password")
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Re-type new password" })
                        @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
</div>

                    <div class="col-lg-12  col-md-12 col-sm-12">
                    <br />
                            <input id="ResetPasswordButton" type="submit" class="btn btn-success btn-lg btn-block" value="Reset Password" />
                    </div>
                </div>
                <div class="row forGotPassword">
                    If you know your password,
                    @Html.ActionLink("login here", "Login")
                </div>

                @Html.Partial("_Footer")








            </div>
            <div class="col-lg-4 col-md-3 col-sm-2"></div>
        </div>
    }
</body>
</html>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


<script>
    function Loader() {
        $.blockUI({
            css: {
                border: 'none',
                //padding: '10px',
                //backgroundColor: '#000',
                backgroundColor: 'transparent',
                //color: '#fff',
                opacity: .9
            },
            message: '<img src="/Images/comment.svg" />'
        });
    }


    $(document).ready(function () {

        $('#ResetPasswordButton').click(function (e) {
            Loader();
        });
    });
</script>