@model SANSurveyWebAPI.ViewModels.Web.RegisterWAMDemographicsVM

@{
    Layout = "~/Views/Shared/_LayoutRegistration.cshtml";
    ViewBag.Title = "Demographics";
}
<link href="~/Content/iCheck/skins/flat/green.css" rel="stylesheet" />
<script src="~/Scripts/iCheck/icheck.min.js"></script>
@using (Html.BeginForm("WAMDemographics", "Register", FormMethod.Post, new { name = "frmWAMDemographics", id = "frmWAMDemographics" }))
{ <div class="container OtherPageContainer">
        <div class="formBox">
            <div id="">
                <h3>@ViewBag.Title</h3>
            </div>
            @Html.HiddenFor(model => model.ProfileId)
            @Html.HiddenFor(model => model.MaxStep)

            @Html.Partial("_Wizard", new SANSurveyWebAPI.ViewModels.Web.WizardViewModel() { CurrStep = 22, MaxStep = Model.MaxStep, SurveyType = 1 })

            <div class="panel panel-default" id="Personal">
                <div class="panel-heading"><h4>Finally, we would like to ask for some background information about you, for statistical purposes ... </h4></div>
                <div class="panel-body">                    
                    <div class="form-group row">
                        @Html.Label("Gender", new { @class = "col-sm-4 col-form-label" })
                        <div class="col-sm-8">
                            <div id="genderPanel" style="width:300px">
                                @Html.RadioButtonFor(model => model.Gender, "Male", new { @id = "GenderRadio", @name = "GenderRadio1", @style = "padding-right: 10px" })
                                <label for="GenderRadio1" style="padding-right:10px">Male</label>

                                @Html.RadioButtonFor(model => model.Gender, "Female", new { @id = "GenderRadio", @name = "GenderRadio2", @style = "padding-right: 10px" })                               
                                <label for="GenderRadio2" style="padding-right:10px">Female</label>
                                
                                @Html.RadioButtonFor(model => model.Gender, "Other", new { @id = "GenderRadio", @name = "GenderRadio3", @style = "padding-right: 10px" })
                                <label for="GenderRadio3" style="padding-right:10px">Other</label>
                                <br />
                                <small id="Gender_Incomplete" class="invalid pull-left"><i class="fa fa-info-circle" aria-hidden="true"></i>&nbsp;Incomplete</small>
                            </div>
                        </div>
                    </div>
                    
                    <div class="form-group row">
                        <div class="col-lg-4 col-md-4 col-sm-4" style="padding-top:10px;">
                            @Html.Label("Year of Birth", new { @class = "col-form-label" })
                        </div>

                        <div class="col-sm-8">
                            @(Html.Kendo().DropDownListFor(model => model.BirthYear)
                                  .Name("BirthYear")
                                  .Filter("contains")
                                  .DataTextField("Text")
                                  .DataValueField("Value")
                                  .BindTo(Model.BirthYearList)
                                  .OptionLabel("----- Select year -----")
                                  .HtmlAttributes(new { @style = "", @class = "", @id = "drpBirthYear" })
                            )
                            <br />
                            <small id="BirthYear_Incomplete" class="invalid pull-left"><i class="fa fa-info-circle" aria-hidden="true"></i>&nbsp;Incomplete</small>
                        </div>
                    </div>
                    <div class="form-group row">
                        @Html.Label("Outside of work, do you have any care-giving responsibilities for a CHILD under 17 years of age?", new { @class = "col-sm-4 col-form-label" })
                        <div class="col-sm-8">
                            <div id="caregiverChildPanel" style="width:300px">
                                @Html.RadioButtonFor(model => model.IsCaregiverChild, "Yes", new { @id = "IsCaregiverChild", @name = "IsCaregiverChild1", @style = "padding-bottom: 5px" })
                                <label for="IsCaregiverChild1" style="padding-right:10px">Yes</label>

                                @Html.RadioButtonFor(model => model.IsCaregiverChild, "No", new { @id = "IsCaregiverChild", @name = "IsCaregiverChild2", @style = "padding-bottom: 5px" })
                                <label for="IsCaregiverChild2" style="padding-right:10px">No</label>
                                <br />

                                <small id="IsCaregiverChild_Incomplete" class="invalid pull-left"><i class="fa fa-info-circle" aria-hidden="true"></i>&nbsp;Incomplete</small>
                            </div>

                        </div>
                    </div>                    
                </div>
                <div style="padding:10px">
                    <button class="btn btn-success btn-lg" id="btnPrev" type="button"><i class="fa fa-angle-left" aria-hidden="true"></i>&nbsp;&nbsp;Previous</button>
                    <button class="btn btn-success btn-lg pull-right" id="btnNext" type="button">Next&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i></button>
                </div>
            </div>
        </div>
        @Html.Partial("_Footer")
    </div>}
@Html.Partial("_DialogDemographics")

<script type="text/javascript">   
   
    $(document).ready(function () {
        $('#Gender_Incomplete').hide();
        $('#BirthYear_Incomplete').hide();
        $('#IsCaregiverChild_Incomplete').hide();

        $.ajaxSetup({ cache: false });
        $('#btnNext').on("click", function (e) {
            e.preventDefault();
            if (!AddCustomValidation()) { dialog.open(); }
            else {
                LoaderLocal();
                $('#frmWAMDemographics').submit();
            }
        });

        $('#btnPrev').on("click", function (e) {
            e.preventDefault();
            window.location.href = "@Url.Action("WAMIntentions", "Register")";
        });

        var dialog = $("#_DialogDemographics").remodal();
        $(document).on('confirmation', '#_DialogDemographics', function () {
            LoaderLocal();
            $('#frmWAMDemographics').submit();
        });

        $(document).on('cancellation', '#_DialogDemographics', function () {
        });

        function AddCustomValidation() {
            var allFilled = true;
            if ($("input[name^='Gender']:checked").length < 1) {
                $('#Gender_Incomplete').show();
                allFilled = false;
            }
            else { $('#Gender_Incomplete').hide(); }
          
            var drpBirthYearText = $('#drpBirthYear').val();
            if (drpBirthYearText == "") {
                $('[name="BirthYear_input"]').parent().parent().addClass("has-error");
                $('#BirthYear_Incomplete').show();
                allFilled = false;
            }
            else {
                $('[name="BirthYear_input"]').parent().parent().removeClass("has-error");
                $('#BirthYear_Incomplete').hide();
            }

            if ($("input[name^='IsCaregiverChild']:checked").length < 1) {
                $('#IsCaregiverChild_Incomplete').show();
                allFilled = false;
            }
            else { $('#IsCaregiverChild_Incomplete').hide(); }
            
            return allFilled;
        }

        function RemoveCustomValidation() {
            $('[name="BirthYear_input"]').parent().parent().removeClass("has-error");
            $('[name="UniversityAttended_input"]').parent().parent().removeClass("has-error");
            $('#Gender_Incomplete').hide();
            $('#BirthYear_Incomplete').hide();
            $('#IsCaregiverChild_Incomplete').hide();            
        }
        $('#frmWAMDemographics input').on('change', function () {
            var x = this.id;

            if (x == "GenderRadio") { $('#Gender_Incomplete').hide(); }
            if (x == "drpBirthYear") { $('#BirthYear_Incomplete').hide(); }
            if (x == "IsCaregiverChild") { $('#IsCaregiverChild_Incomplete').hide(); }
        });
        $("input[id='GenderRadio']").icheck({
            labelHover: true,
            tap: true,
            checkboxClass: 'icheckbox_flat-green',
            radioClass: 'icheckbox_flat-green'
        });
        $("input[id='IsCaregiverChild']").icheck({
            labelHover: true,
            tap: true,
            checkboxClass: 'icheckbox_flat-green',
            radioClass: 'icheckbox_flat-green'
        });        
    });
</script>
